@charset "UTF-8";
/**
* システム名：HAL自動車オークションシステム
* 
* ユーザ側オークション一覧画面
* 
* 作成者：宮原誠
*/
main {
  max-width: 1280px;
  margin: 0 auto;
}
main #auction_list {
  text-align: center;
  margin-top: 50px;
}
main #auction_list h1 {
  display: inline-block;
  border: #98eb7f 3px solid;
  border-radius: 15px;
  background-color: #f5f5f5;
  padding: 0 20px;
  font-size: 22px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
}
main h2 {
  width: 800px;
  margin: 50px auto 40px auto;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 1rem 0;
  border-bottom: 6px solid #094;
}
main h2:before {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: "";
  background: #00cc5b;
}
main h2.not_start {
  border-bottom: 6px solid #9dc02c;
}
main h2.not_start:before {
  background: #c4d297;
}
main h2.finished {
  border-bottom: 6px solid #ff0000;
}
main h2.finished:before {
  background: #f46161;
}
main .now_auction {
  width: 800px;
  height: 230px;
  border: #3f3f3f 3px solid;
  border-radius: 10px;
  margin: 0 auto 50px auto;
  display: flex;
}
main .now_auction .now_auction_img {
  height: 100%;
  width: 400px;
}
main .now_auction .now_auction_img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 0px 0px 8px;
  width: 100%;
  height: 100%;
}
main .now_auction .now_auction_info {
  width: 100%;
  margin-left: 4%;
  font-size: 18px;
}
main .now_auction .now_auction_info .maker {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
main .now_auction .now_auction_info .amount_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
main .now_auction .now_auction_info .amount_container .amount {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
main .now_auction .now_auction_info .amount_container .amount .start {
  margin-right: 25px;
}
main .now_auction .now_auction_info .amount_container .amount div p:first-child {
  color: #515050;
  font-size: 16px;
  line-height: 24px;
  border-bottom: gray solid 2px;
  margin-bottom: 10px;
}
main .now_auction .now_auction_info .amount_container .amount .start p:first-child {
  border-bottom: #ff0000 solid 3px;
}
main .now_auction .now_auction_info .amount_container .amount .now p:first-child {
  border-bottom: rgb(151, 191, 90) solid 3px;
}
main .now_auction .now_auction_info .amount_container .amount div p:last-child {
  color: #515050;
  font-size: 24px;
  line-height: 24px;
}
main .now_auction .now_auction_info .bottom {
  display: flex;
  align-items: center;
}
main .now_auction .now_auction_info .bottom .time {
  color: #515050;
  width: 60%;
  display: flex;
  height: 80px;
  align-items: center;
  line-height: 25px;
  font-weight: bold;
}
main .now_auction .now_auction_info .bottom .to_auction {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .now_auction .now_auction_info .bottom .to_auction a {
  margin-right: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}
main .now_auction .now_auction_info .bottom .to_auction a:not(.finished, .not_start):hover {
  background-color: #1db954;
}
main .now_auction .now_auction_info .bottom .to_auction .finished, main .now_auction .now_auction_info .bottom .to_auction .not_start {
  cursor: default;
  background-color: #3f3f3f;
}/*# sourceMappingURL=U_auction.css.map */