@charset "UTF-8";
/**
* システム名：HAL自動車オークションシステム
* 
* ユーザ側オークション入札画面
* 
* 作成者：宮原誠
*/
main {
  max-width: 1280px;
  margin: 0 auto;
}
main #auction_car_title {
  background-color: #f5f5f5;
  border: 2px solid #1db954;
  border-left: 10px solid #1db954;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 50px auto 40px auto;
  justify-content: space-between;
  padding: 0 30px;
}
main #auction_car_title h2 {
  width: 60%;
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  height: 70px;
  line-height: 70px;
}
main #auction_car_title .time {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  background-color: #1db954;
  color: #fff;
  border-radius: 100px;
  text-align: center;
}
main #auction_car_detail {
  display: flex;
  justify-content: space-between;
}
main #auction_car_detail .car_images {
  border-radius: 5px;
  width: 47%;
  height: 400px;
}
main #auction_car_detail .car_images img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main #auction_car_detail .car_auction {
  padding-right: 1%;
  max-height: 70vh;
  overflow-y: scroll;
  width: 47%;
}
main #auction_car_detail .car_auction #time-container {
  display: flex;
  justify-content: space-around;
  border: 3px solid #1db954;
  border-radius: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
  font-size: 22px;
  font-weight: bold;
  background-color: #f5f5f5;
}
main #auction_car_detail .car_auction #time-container .diff_time {
  width: 60%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
main #auction_car_detail .car_auction #time-container .status {
  width: 40%;
  height: 60px;
  line-height: 60px;
  border-radius: 0 100px 100px 0;
  text-align: center;
  background-color: #1db954;
  color: #fff;
}
main #auction_car_detail .car_auction .car_amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
main #auction_car_detail .car_auction .car_amount div {
  width: 47%;
}
main #auction_car_detail .car_auction .car_amount div p:first-child {
  color: #515050;
  line-height: 32px;
  margin-bottom: 10px;
}
main #auction_car_detail .car_auction .car_amount .start p:first-child {
  border-bottom: #ff0000 solid 3px;
}
main #auction_car_detail .car_auction .car_amount .now p:first-child {
  border-bottom: #97bf5a solid 3px;
}
main #auction_car_detail .car_auction .car_amount div p:last-child {
  color: #515050;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
}
main #auction_car_detail .car_auction .car_amount div p:last-child span {
  font-size: 24px;
  margin-left: 3px;
}
main #auction_car_detail .car_auction .auction_button {
  display: flex;
  margin-bottom: 40px;
}
main #auction_car_detail .car_auction .auction_button button {
  margin-right: 20px;
}
main #auction_car_detail .car_auction .auction_button #bid_history {
  margin-bottom: 10px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: 40px;
}
main #auction_car_detail .car_auction .auction_button #bid_history:hover {
  color: #fff;
  background-color: #616467;
}
main #auction_car_detail .car_auction .auction_button #bid {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #15883e;
  height: 40px;
}
main #auction_car_detail .car_auction .auction_button #bid:hover {
  transform: scale(1.04);
  background-color: #1db954;
}
main #auction_car_detail .car_auction .car_info_headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  border-bottom: #cccccc 3px solid;
  color: #515050;
  margin-bottom: 15px;
}
main #auction_car_detail .car_auction .car_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #515050;
}
main #auction_car_detail .car_auction .car_info div {
  width: 20%;
}
main #auction_car_detail .car_auction .car_info div span {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  border-bottom: 2px solid #7070c5;
  margin-bottom: 10px;
}
main #auction_car_detail .car_auction .car_info div p {
  font-size: 18px;
  margin-bottom: 20px;
}
main #auction_car_detail .car_auction .equipment_container h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  border-bottom: #cccccc 3px solid;
  color: #515050;
  margin-bottom: 15px;
}
main #auction_car_detail .car_auction .equipment_container ul {
  width: 99%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}
main #auction_car_detail .car_auction .equipment_container ul li {
  background-color: rgb(226, 248, 230);
  color: rgb(35, 167, 35);
  border-radius: 5px;
  font-size: 15px;
  width: 30%;
  margin-bottom: 15px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
}
main #auction_car_detail .car_auction .equipment_container ul .invisible {
  background-color: white;
  color: #515050;
  border: 1px solid #515050;
  font-weight: normal;
}

#bid_history_modal #top_comment {
  display: block;
  font-weight: bold;
  margin: 20px auto 0 auto;
  text-align: center;
}
#bid_history_modal #bid_history_modal_lists {
  max-height: 400px;
  overflow-y: scroll;
  padding: 20px;
}
#bid_history_modal #bid_history_modal_lists p {
  display: block;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}
#bid_history_modal #bid_history_modal_lists #history_container {
  font-size: 18px;
  line-height: 34px;
  display: flex;
  justify-content: space-between;
}
#bid_history_modal #bid_history_modal_lists #history_container li:first-child {
  width: 35%;
}
#bid_history_modal #bid_history_modal_lists #history_container li {
  width: 30%;
}
#bid_history_modal #bid_history_modal_lists li {
  font-weight: 800;
}

#bid_modal #bid_form {
  padding: 30px;
  justify-content: space-between;
}
#bid_modal #bid_form #form_text {
  margin-bottom: 30px;
}
#bid_modal #bid_form input {
  width: 50%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 0 10px;
}
#bid_modal #bid_form #add_text {
  margin-bottom: 15px;
}
#bid_modal #bid_form #add_button {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}
#bid_modal #bid_form #add_button button {
  text-align: center;
  width: 25%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #97bf5a;
  color: #fff;
}
#bid_modal #bid_form #confirm_button {
  display: flex;
  justify-content: center;
}
#bid_modal #bid_form #confirm_button #bid_button {
  text-align: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #21e065;
  color: #fff;
}/*# sourceMappingURL=U_auction_room.css.map */