/**
* システム名：HAL自動車オークションシステム
* 
* 在庫管理画面CSS
* さわるなキケン
* 
* 作成者：小嶋美紀
*/

$black: #303030;
$blue: #113458;
$back: #f6f5f9;

th{
    width: auto;
}

.tablediv{
    tr{
        td{
            button{
                color: #fff;
                white-space: nowrap;
                margin: 0;
            }
            // .tdBtn{
            //     margin: 0;
            // }
        }
    }
}

#entryModal{
    .modal-content{
        width: 70%;
        height: 80%;
    }
}

.detailBtn{
    display: block;
    background: $blue;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
}