/**
* システム名：HAL自動車オークションシステム
* 
* ユーザ側オークション入札画面
* 
* 作成者：宮原誠
*/

main{
  max-width: 1280px;
  margin: 0 auto;
  #auction_car_title{
    background-color: #f5f5f5;
    border: 2px solid #1ED760;
    border-left: 10px solid #1ED760;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 50px auto 40px auto;
    justify-content: space-between;
    padding: 0 30px;
    h2{
      width: 60%;
      display: inline-block;
      // margin-bottom: 20px;
      font-size: 26px;
      font-weight: 700;
      height: 70px;
      line-height: 70px;
    }
    .time{
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      font-size: 20px;
      font-weight: 700;
      background-color: #1ED760;
      color: #fff;
      // border: solid 3px #626262;
      border-radius: 100px;
      text-align: center;
    }
  }
  
  #auction_car_detail{
    display: flex;
    justify-content: space-between;
    .car_images{
      border: #b7b7b7 solid 2px;
      border-radius: 5px;
      width: 47%;
      height: 400px;
      img{
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
    }

    .car_auction{
      padding-right: 1%;
      max-height: 70vh;
      overflow-y: scroll;
      width: 47%;
      #time-container{
        display: flex;
        justify-content: space-around;
        border: 3px solid #1ED760;
        border-radius: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 30px 0;
        font-size: 22px;
        font-weight: bold;
        // padding: 0px 40px;
        background-color: #f5f5f5;
        .diff_time{
          width: 60%;
          height: 60px;
          line-height: 60px;
          text-align: center;
        }
        .status{
          width: 40%;
          height: 60px;
          line-height: 60px;
          border-radius: 0 100px 100px 0;
          text-align: center;
          background-color: #1ED760;
          color: #fff;
        }
      }
      .car_amount{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        div{
          // margin-right: 5%;
          width: 47%;
          // margin-right: 30px;
        }
        div p:first-child{
          color: #515050;
          line-height: 32px;
          margin-bottom: 10px;
        }
        .start p:first-child{
          border-bottom: #ff0000 solid 3px;
        }
        .now p:first-child{
          border-bottom: #97bf5a  solid 3px;
        }
        div p:last-child{
          color: #515050;
          font-size: 30px;
          line-height: 30px;
          text-align: right;
          span{
            font-size: 24px;
            margin-left: 3px;
          }
        }
      }
      .auction_button{
        display: flex;
        margin-bottom: 40px;
        button{
          margin-right: 20px;
        }
        #bid_history{
          margin-bottom: 10px;
          display: inline-block;
          outline: none;
          cursor: pointer;
          font-size: 14px;
          line-height: 1;
          border-radius: 500px;
          transition-property: background-color,border-color,color,box-shadow,filter;
          transition-duration: .3s;
          border: 1px solid transparent;
          letter-spacing: 2px;
          min-width: 160px;
          text-transform: uppercase;
          white-space: normal;
          font-weight: 700;
          text-align: center;
          // padding: 16px 14px 18px;
          color: #616467;
          box-shadow: inset 0 0 0 2px #616467;
          background-color: transparent;
          height: 40px;
        }
        #bid_history:hover{
          color: #fff;
          background-color: #616467;
        }
        #bid{
          display: inline-block;
          outline: none;
          cursor: pointer;
          font-size: 14px;
          line-height: 1;
          border-radius: 500px;
          transition-property: background-color,border-color,color,box-shadow,filter;
          transition-duration: .3s;
          border: 1px solid transparent;
          letter-spacing: 2px;
          min-width: 160px;
          text-transform: uppercase;
          white-space: normal;
          font-weight: 700;
          text-align: center;
          // padding: 17px 48px;
          color: #fff;
          background-color: #1ED760;
          height: 40px;
        }
        #bid:hover{
          transform: scale(1.04);
          background-color: #21e065;
        }
      }
      .car_info_headline{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        border-bottom: #cccccc 3px solid;
        color: #515050;
        margin-bottom: 15px;
      }
      .car_info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: #515050;
        div{
          width: 20%;
          span{
            display: inline-block;
            width: 100%;
            font-size: 18px;
            line-height: 30px;
            font-weight: 600;
            border-bottom: 2px solid #7070c5;
            margin-bottom: 10px;
          }
          p{
            font-size: 18px;
            margin-bottom: 20px;
          }
        }
      }
      .equipment_container{
        h2{
          font-weight: bold;
          font-size: 20px;
          line-height: 32px;
          border-bottom: #cccccc 3px solid;
          color: #515050;
          margin-bottom: 15px; 
        }
        ul{
          display: flex;
          justify-content: space-evenly;
          gap: 3%;
          flex-wrap: wrap;
          li{
            background-color: rgb(226, 248, 230);
            color: rgb(44, 214, 44);
            border-radius: 5px;
            font-size: 15px;
            width: 30%;
            margin-bottom: 15px;
            line-height: 35px;
            font-weight: 600;
            text-align: center;
          }
          .invisible{
            background-color: white;
            color: #515050;
            border: 1px solid #515050;
            font-weight: normal;
          }
        }
      }
    }
  }
}

#bid_history_modal{
  #top_comment{
    display: block;
    font-weight: bold;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  #bid_history_modal_lists{
    max-height: 400px;
    overflow-y: scroll; 
    padding: 20px;
    p{
      display: block;
      font-weight: bold;
      margin: 10px auto;
      text-align: center;
    }
    #history_container{
      font-size: 18px;
      line-height: 34px;
      display: flex;
      justify-content: space-between;
      li:first-child{
        width: 35%;
      }
      li{
        width: 30%;
      }
    }
    li{
      font-weight: 800;
    }
  }
}

#bid_modal{
  #bid_form{
    padding: 30px;
    justify-content: space-between;
    #form_text{
      margin-bottom: 30px;
    }
    input{
      width: 50%;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid #b7b7b7;
      border-radius: 5px;
      padding: 0 10px;
    }
    #add_text{
      margin-bottom: 15px;
    }
    #add_button{
      display: flex;
      justify-content: space-between;
      margin: 15px auto;
      button{
        text-align: center;
        width: 25%;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #97bf5a ;
        color: #fff;
      }
    }
    #confirm_button{
      display: flex;
      justify-content: center;
      #bid_button{
        text-align: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        width: 30%;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #21e065;
        color: #fff;
      }
    }
  }
}