<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
    <p><a href="/create">出品情報登録</a></p>
    <h2>車両出品</h2>
    <h3>タイムスケジュール</h3>
    <table>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>オークションID</th>
        <th>車両番号</th>
        <th>日時</th>
        <th>最低金額</th>
    </tr>
    <% auctions.forEach(function (value) { %>
    <tr>
        <td><%= value.credit_num %></td>
        <td><%= value.security_code %></td>
        <td><%= value.deadline %></td>
    </tr>
    <% }); %>
    </table>
    <h3>在庫一覧</h3>
    メーカー名
    車種名
    グレード名
    排気量
    年式
    輸入車モデル年式
    走行距離
    走行距離の状態
    色系統
    色の名称
    車検有効期限
    ミッション
    ボディタイプ
    型式
    
    </table>
</body>
</html>