<!-- 
    システム名：HAL自動車オークションシステム
    画面ID：A_auction.ejs
    画面名：オークション管理画面
    作成者：小嶋美紀
 -->
 <!DOCTYPE html>
 <html lang="ja">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="destyle.css">
     <link rel="stylesheet" href="A_style.css">
     <link rel="stylesheet" href="A_auction.css">
 <title>オークション管理画面</title>
 </head>
 <body>
     
     <div class="grid">
         <header><!-- 共通部分 -->
             <h1>オークション管理</h1>
             <!-- <jsp:include page="logout.jsp" /> -->
         </header>
         
         <nav><!-- 共通部分 -->
             <ul>
                 <li><a href="/">在庫管理</a></li>
                 <li><a href="/auctions" class="current">オークション管理</a></li>
                 <li><a href="./">ユーザー管理</a></li>
                 <li><a href="./">売上管理</a></li>
             </ul>
         </nav>
         
         <main><!-- 画面ごとに変更される部分 -->
			<article>
				<div class="article-header">
					<h2>オークション開催予定</h2>
				</div>
				<h3>12月3日</h3>
				<div class="tablediv">
					<table>
						<tr>
							<th>詳細</th>
							<th>ID</th>
							<th>開催日</th>
							<th>開始時刻</th>
							<th>終了時刻</th>
							<th>変更</th>
							<th>取消</th>
						</tr>
						<tr>
							<td><a href="./detail/00001" class="detailBtn">詳細</a></td>
							<td>00001</td>
							<td class="date">12月3日</td>
							<td class="start">13:00</td>
							<td class="end">14:00</td>
							<td><button class="update-btn tdBtn" value="00001">変更</button></td>
							<td><button class="delete-btn tdBtn" value="00001">取消</button></td>
						</tr>
					</table>
				</div>
				<h3>12月4日</h3>

			</article>
			<article>
				<div class="article-header">
					<h2>車両一覧</h2>
					<!-- <div>
						<button id="entry-btn">登録</button>
						<button>PDF出力</button>	
					</div> -->
				</div>
				<div class="tablediv">
					<table>
						<tr>
							<th>出品</th>
							<!-- <th>編集</th> -->
							<th>ID</th>
							<th>メーカー名</th>
							<th>車種名</th>
							<th>グレード名</th>
							<th>排気量</th>
							<th>年式</th>
							<th>輸入車モデル年式</th>
							<th>走行距離</th>
							<th>走行距離の状態</th>
							<th>色系統</th>
							<th>色</th>
							<th>車検有効期限</th>
							<th>ミッション</th>
							<th>ボディタイプ</th>
							<th>型式</th>
						</tr>
						<tr class="stock-row">
							<!-- <td><button class="tdBtn">詳細</button></td> -->
							<!-- <td><a href="./A_car_detail.ejs?id=00001" class="detailBtn">出品</a></td> -->
							<td><button class="exhibition-btn tdBtn" value="00001">出品</button></td>
							<td>00001</td>
							<td>日産</td>
							<td>ジューク</td>
							<td>16GTターボ</td>
							<td>1,610cc</td>
							<td>平成22年(2010年)12月</td>
							<td>-</td>
							<td>59,350km</td>
							<td>実走行</td>
							<td>アカ系</td>
							<td>-</td>
							<td>令和5年12月まで</td>
							<td>オートマチック(AT)</td>
							<td>クロカン、SUV</td>
							<td>型式</td>
						</tr>
						<tr class="stock-row">
							<!-- <td><button class="tdBtn">詳細</button></td> -->
							<!-- <td><a href="./A_car_detail.ejs?id=00001" class="detailBtn">出品</a></td> -->
							<td><button class="exhibition-btn tdBtn" value="00002">出品</button></td>
							<td>00001</td>
							<td>日産</td>
							<td>ジューク</td>
							<td>16GTターボ</td>
							<td>1,610cc</td>
							<td>平成22年(2010年)12月</td>
							<td>-</td>
							<td>59,350km</td>
							<td>実走行</td>
							<td>アカ系</td>
							<td>-</td>
							<td>令和5年12月まで</td>
							<td>オートマチック(AT)</td>
							<td>クロカン、SUV</td>
							<td>型式</td>
						</tr>
					</table>
				</div>
				</div>
			</article>
         </main>
     </div>
 
     <div id="entryModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>出品</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="">
				<p>ID<span id="car-id"></span>を出品しますか？</p>
				<p>開催日<input type="date" name="date"></p>
				<p>開始時刻<input type="time" name="start-time"></p>
				<p>終了時刻<input type="time" name="end-time"></p>
				<button id="ex-btn">出品</button>
			</form>
          </div>
        </div>
    </div>

	<div id="updateModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>オークション開催日時変更</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="">
				<p>開催日<input type="date" name="u-date" id="u-date"></p>
				<p>開始時刻<input type="time" name="u-start-time" id="u-start" value="1400"></p>
				<p>終了時刻<input type="time" name="u-end-time" id="u-end"></p>
				<button id="update-btn">変更</button>
			</form>
          </div>
        </div>
    </div>

	<div id="deleteModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>オークション取消</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="">
				<p><span id="auction-date"></span><span id="start-time"></span>～<span id="end-time"></span>開催予定のオークションを取り消しますか？</p>
				<button id="delete-btn">取消</button>
			</form>
          </div>
        </div>
    </div>

    <!-- <script src="../js/modal.js"></script> -->
	<script>
		const buttonClose = document.getElementsByClassName('modalClose');
		const carId = document.getElementById('car-id');
		const exBtn = document.getElementById('ex-btn');
		const modal = document.getElementById('entryModal');
		const updateModal = document.getElementById('updateModal');
		const deleteModal = document.getElementById('deleteModal');
		// body要素を取得
		const body = document.getElementsByTagName('body')[0];
		// 出品ボタン
		const exhibitionBtn = document.getElementsByClassName('exhibition-btn');
		// 変更ボタン
		const updateBtn = document.getElementsByClassName('update-btn');
		const upBtn = document.getElementById('update-btn');
		// 変更モーダル表示用
		const upDate = document.getElementById('u-date');
		const upStart = document.getElementById('u-start');
		const upEnd = document.getElementById('u-end');
		// 取消ボタン
		const deleteBtn = document.getElementsByClassName('delete-btn');
		const delBtn = document.getElementById('delete-btn');
		// 開催日リスト
		const dateList = document.getElementsByClassName('date');
		const startList = document.getElementsByClassName('start');
		const endList = document.getElementsByClassName('end');
		// 取消モーダル表示用開催日時
		const date = document.getElementById('auction-date');
		const start = document.getElementById('start-time');
		const end = document.getElementById('end-time');
		//出品ボタンにモーダル表示リスナーを付与
		for(let i=0; i< exhibitionBtn.length;i++){
			exhibitionBtn[i].addEventListener('click',(e)=>{
				console.log("クリック");
				modal.style.display = 'block';
				body.classList.add('open');  
				console.log(exhibitionBtn[i].value);
				carId.innerHTML = exhibitionBtn[i].value;
				exBtn.value = exhibitionBtn[i].value;
			},false);
		}
		//変更ボタンにモーダル表示リスナーを付与
		for(let i=0; i< updateBtn.length;i++){
			updateBtn[i].addEventListener('click',(e)=>{
				console.log("クリック");
				updateModal.style.display = 'block';
				body.classList.add('open');
				upDate.value = dateList[i].textContent;
				upStart.value = startList[i].textContent;
				upEnd.value = endList[i].textContent;
				upBtn.value = updateBtn[i].value;
			},false);
		}
		// 取消ボタンにモーダル表示リスナーを付与
		for(let i=0; i< deleteBtn.length;i++){
			deleteBtn[i].addEventListener('click',(e)=>{
				console.log("クリック");
				deleteModal.style.display = 'block';
				body.classList.add('open');  
				//開催日時を表示
				console.log(dateList[i]);
				date.innerHTML = dateList[i].textContent;
				start.innerHTML = startList[i].textContent;
				end.innerHTML = endList[i].textContent;
				delBtn.value = deleteBtn[i].value;
			},false);
		}

		// バツ印がクリックされた時
		for(let i=0; i< buttonClose.length;i++){
			console.log(buttonClose[i]);
			buttonClose[i].addEventListener('click',(e)=>{
				modal.style.display = 'none';
				updateModal.style.display = 'none';
				deleteModal.style.display = 'none';
				body.classList.remove('open');
			},false);
		}

		// モーダルコンテンツ以外がクリックされた時
		addEventListener('click', outsideClose);
		function outsideClose(e) {
			console.log("outsideClose関数実行");
			console.log(e.target);
			if (e.target == modal || e.target == updateModal || e.target == deleteModal) {
				modal.style.display = 'none';
				updateModal.style.display = 'none';
				deleteModal.style.display = 'none';
			}
			body.classList.remove('open');
		}

	</script>

 
 </body>
 </html>