<!-- 
    システム名：HAL自動車オークションシステム
    画面ID：A_car_detail.ejs
    画面名：車両詳細画面
    作成者：小嶋美紀
 -->
 <!DOCTYPE html>
 <html lang="ja">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/destyle.css">
     <link rel="stylesheet" href="../css/A_style.css">
     <link rel="stylesheet" href="../css/A_car_detail.css">
 <title>車両詳細画面</title>
 </head>
 <body>
     
     <div class="grid">
         <header><!-- 共通部分 -->
             <h1>車両詳細</h1>
             <!-- <jsp:include page="logout.jsp" /> -->
         </header>
         
         <nav><!-- 共通部分 -->
             <ul>
                 <li><a href="./A_stock.ejs" class="current">在庫管理</a></li>
                 <li><a href="./A_auction.ejs">オークション管理</a></li>
                 <li><a href="./">ユーザー管理</a></li>
                 <li><a href="./">売上管理</a></li>
             </ul>
         </nav>
         
         <main><!-- 画面ごとに変更される部分 -->
            
         <article>
			<div class="article-header">
                <h2>メーカー名・車種名</h2>
                <div>
                    <button id="entry-btn">編集</bhutton>
                    <button id="delete-btn">削除</button>	
                </div>
            </div>
             <div class="img-area">
                <p><img src="https://placehold.jp/220x220.png" alt="車両画像" </p>
             </div>
             <div class="info-area">
                <h3>基本情報</h3>
                <table>
                    <tr>
                        <th>グレード</th>
                        <td>16GTターボ</td>
                        <th>排気量</th>
                        <td>1610cc</td>
                    </tr>
                    <tr>
                        <th>年式</th>
                        <td>平成22年(2010)12月</td>
                        <th>輸入車モデル年式</th>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>走行距離</th>
                        <td>59350km</td>
                        <th>走行距離の状態</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>色系統</th>
                        <td></td>
                        <th>色名</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>車検有効期限</th>
                        <td>令和5年12月まで</td>
                        <th>ミッション</th>
                        <td>AT</td>
                    </tr>
                    <tr>
                        <th>ボディタイプ</th>
                        <td>クロカン、SUV</td>
                        <th>型式</th>
                        <td>CBA-F15</td>
                    </tr>
                </table>
             </div>
             <div class="detail-area">
                <h3>詳細情報</h3>
                <table>
                    <tr>
                        <th>ドア数</th>
                        <td>5ドア</td>
                        <th>乗車定員数</th>
                        <td>5人乗り</td>
                    </tr>
                    <tr>
                        <th>駆動方式</th>
                        <td>4WD</td>
                        <th>燃料</th>
                        <td>ガソリン車</td>
                    </tr>
                    <tr>
                        <th>点検記録簿</th>
                        <td>あり</td>
                        <th>修復歴</th>
                        <td>なし</td>
                    </tr>
                    <tr>
                        <th>車台番号(下3桁)</th>
                        <td>225</td>
                        <th>リサイクル預託金</th>
                        <td>9680円</td>
                    </tr>
                    <tr>
                        <th>輸入経路</th>
                        <td>ディーラー車</td>
                        <th>ハンドル</th>
                        <td>右</td>
                    </tr>
                    <tr>
                        <th>車歴</th>
                        <td>自家用</td>
                        <th>所有車歴</th>
                        <td>複数オーナー</td>
                    </tr>
                    <tr>
                        <th>引き渡し条件</th>
                        <td>現状引き渡し</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>

             </div>
             <div class="parts-area">
                <h3>装備品</h3>
                <ul>
                    <li class="enable">エアコン</li>
                    <li class="disable">スマートキー</li>
                    <li class="enable">サンルーフ</li>
                    <li class="enable">ローダウン</li>
                    <li class="disable">パワステ</li>
                    <li class="disable">CD</li>
                    <li class="disable">本革シート</li>
                    <li class="disable">禁煙車</li>
                    <li class="disable">パワーウィンドウ</li>
                    <li class="enable">MD</li>
                    <li class="disable">純正エアロパーツ</li>
                    <li class="disable">ペット同乗無し</li>
                    <li class="disable">集中ドアロック</li>
                    <li class="disable">DVDビデオ</li>
                    <li class="enable">純正アルミホイール</li>
                    <li class="disable">限定車</li>
                    <li class="disable">ABS</li>
                    <li class="enable">テレビ</li>
                    <li class="enable">横滑り防止装置</li>
                    <li class="enable">試乗、現車確認可能</li>
                    <li class="enable">エアバッグ</li>
                    <li class="disable">ナビゲーション</li>
                    <li class="disable">トラクションコントロール</li>
                    <li class="enable">取扱説明書</li>
                    <li class="enable">ETC</li>
                    <li class="enable">バックカメラ</li>
                    <li class="disable">寒冷地帯仕様車</li>
                    <li class="disable">新車時保証書</li>
                    <li class="disable">キーレスエントリー</li>
                    <li class="enable">電動スライドドア</li>
                    <li class="disable">福祉車両</li>
                    <li class="enable">スペアタイヤ</li>
                </ul>
             </div>
         </article>

         </main>
     </div>
 
     <div id="entryModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>編集</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="">
				<h4>基本情報</h4>
				<p><input type="file" name="car_img" id="myImage" accept="image/*"></p>
				<p>
					メーカー名
					<select name="maker">
						<option value="1">メーカー1</option>
						<option value="2">メーカー2</option>
						<option value="3">メーカー3</option>
					</select>
				</p>
				<p>
					車種名
					<select name="car-type">
						<option value="1">車種1</option>
						<option value="2">車種2</option>
						<option value="3">車種3</option>
					</select>
				</p>
				<p>グレード<input type="text" name="grade"></p>
				<p>排気量<input type="text" name="displacement"></p>
				<p>年式<input type="text" name="model-year"></p>
				<p>輸入車モデル年式<input type="text" name="import-model-year"></p>
				<p>走行距離<input type="text" name="mileage"></p>
				<p>
					走行状態
					<select name="run-status">
						<option value="1">実走行</option>
						<option value="2">メーター交換車</option>
						<option value="3">改ざん車</option>
						<option value="99">その他</option>
					</select>
				</p>
				<p>
					色系統
					<select name="color-type">
						<option value="1">赤</option>
						<option value="2">青</option>
						<option value="3">黒</option>
					</select>
				</p>
				<p>色名<input type="text" name=""></p>
				<p>車検有効期限<input type="text" name=""></p>
				<p>
					ミッション
					<select name="">
						<option value="1">AT</option>
						<option value="2">MT</option>
					</select>
				</p>
				<p>
					ミッション
					<select name="body-type">
						<option value="1">クロカン、SUV</option>
						<option value="2">ああ</option>
					</select>
				</p>
				<p>型式<input type="text" name=""></p>
				<h4>詳細情報</h4>
				<p>ドア数<input type="number" name=""></p>
				<p>乗車定員数<input type="number" name=""></p>
				<p>
					駆動方式
					<select name="">
						<option value="1">4WD</option>
						<option value="2"></option>
					</select>
				</p>
				<p>
					燃料
					<select name="">
						<option value="1">ガソリン</option>
						<option value="2">電気</option>
					</select>
				</p>
				<p>
					点検記録簿
					<select name="">
						<option value="1">あり</option>
						<option value="2">なし</option>
					</select>
				</p>
				<p>
					修復歴
					<select name="">
						<option value="1">あり</option>
						<option value="2">なし</option>
					</select>
				</p>
				<p>車台番号(下3桁)<input type="number" name=""></p>
				<p>リサイクル預託金<input type="number" name=""></p>
				<p>
					輸入経路
					<select name="">
						<option value="1">ディーラー車</option>
						<option value="2">持ち込み</option>
					</select>
				</p>
				<p>
					ハンドル
					<select name="">
						<option value="1">右</option>
						<option value="2">左</option>
					</select>
				</p>
				<p>
					車歴
					<select name="">
						<option value="1">自家用</option>
						<option value="2">あああ</option>
					</select>
				</p>
				<p>
					所有車歴
					<select name="">
						<option value="1">なし</option>
						<option value="2">1人</option>
						<option value="3">複数オーナー</option>
					</select>
				</p>
				<p>引き渡し条件<input type="text" name=""></p>
				<h4>装備品</h4>
				<ul>
					<li>
						<input type="checkbox" name="parts" id="aircon" value="aircon">
						<label for="aircon">エアコン</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="smartkey" value="smartkey">
						<label for="smartkey">スマートキー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="sunroof" value="sunroof">
						<label for="sunroof">サンルーフ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="lowdown" value="lowdown">
						<label for="lowdown">ローダウン</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-steering" value="power-steering">
						<label for="power-steering">パワステ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="CD" value="CD">
						<label for="CD">CD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="seats" value="seats">
						<label for="seats">本革シート</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="no-smoking" value="no-smoking">
						<label for="no-smoking">禁煙車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="power-window" value="power-window">
						<label for="power-window">パワーウィンドウ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="MD" value="MD">
						<label for="MD">MD</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="aero" value="aero">
						<label for="aero">純正エアロパーツ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="pet" value="pet">
						<label for="pet">ペット同乗なし</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="door-lock" value="door-lock">
						<label for="door-lock">集中ドアロック</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="DVD" value="DVD">
						<label for="DVD">DVDビデオ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="alumi" value="alumi">
						<label for="alumi">純正アルミホイール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="limited" value="limited">
						<label for="limited">限定車</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ABS" value="ABS">
						<label for="ABS">ABS</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TV" value="TV">
						<label for="TV">テレビ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ESC" value="ESC">
						<label for="ESC">横滑り防止装置</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="test" value="test">
						<label for="test">試乗、現車確認可能</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="airbag" value="airbag">
						<label for="airbag">エアバッグ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="nav" value="nav">
						<label for="nav">ナビゲーション</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="TCS" value="TCS">
						<label for="TCS">トラクションコントロール</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="manual" value="manual">
						<label for="manual">取扱説明書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="ETC" value="ETC">
						<label for="ETC">ETC</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="back-camera" value="back-camera">
						<label for="back-camera">バックカメラ</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="cold-manual" value="cold-manual">
						<label for="cold-manual">寒冷地帯仕様書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="new-warranty" value="new-warranty">
						<label for="new-warranty">新車時保証書</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="keyless" value="keyless">
						<label for="keyless">キーレスエントリー</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="slide-door" value="slide-door">
						<label for="slide-door">電動スライドドア</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="welfare" value="welfare">
						<label for="welfare">福祉車両</label>
					</li>
					<li>
						<input type="checkbox" name="parts" id="spare-tire" value="spare-tire">
						<label for="spare-tire">スペアタイヤ</label>
					</li>
				</ul>
				<button>ボタン</button>
			</form>
          </div>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>車両情報削除</h2>
                    <span class="modalClose">×</span>
                </div>
                <form action="">
                    <p>この車両を削除しますか？</p>
                    <button>削除</button>
                </form>
            </div>
        </div>
    </div>

     <script src="../js/modal.js"></script>
 
 </body>
 </html>