<!-- 
    システム名：HAL自動車オークションシステム
    画面ID：A_stock.ejs
    画面名：在庫管理画面
    作成者：小嶋美紀
 -->
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./destyle.css">
    <link rel="stylesheet" href="./A_style.css">
	<link rel="stylesheet" href="./A_stock.css">
<title>ユーザー管理画面</title>
</head>
<body>
	
	<div class="grid">
		<header><!-- 共通部分 -->
			<h1>ユーザー管理</h1>
			<!-- <jsp:include page="logout.jsp" /> -->
		</header>
		
		<nav><!-- 共通部分 -->
		    <ul>
		        <li><a href="/" class="current">在庫管理</a></li>
		        <li><a href="/auctions">オークション管理</a></li>
		        <li><a href="/user">ユーザー管理</a></li>
		        <li><a href="/sales">売上管理</a></li>
		    </ul>
		</nav>
		
		<main><!-- 画面ごとに変更される部分 -->
		<article>
			<div class="article-header">
				<h2>ユーザー一覧</h2>
				<div>
					<button id="entry-btn">登録</button>
					<button>PDF出力</button>	
				</div>
			</div>
			<div class="tablediv">
				<table>
			        <tr>
						<th>詳細</th>
						<!-- <th>編集</th> -->
			            <th>ID</th>
			            <th>メールアドレス</th>
			            <th>名前</th>
						<th>郵便番号</th>
						<th>住所</th>
						<th>電話番号</th>
						<th>退会状況</th>
			        </tr>
					<tr class="stock-row">
						<td><a href="" class="detailBtn">詳細</a></td>
						<td>00001</td>
						<td>ohs00001@hal.ac.jp</td>
						<td>春 太郎</td>
						<td>530-0001</td>
						<td>大阪市北区梅田3-3-1</td>
						<td>06-6347-0001</td>
						<td>未退会</td>
					</tr>
			    </table>
		    </div>
		</article>
	    </main>
	</div>

	<div id="entryModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
                <h3>登録</h2>
                <span class="modalClose">×</span>
            </div>
			<form action="" method="post">
				<button name="entry" value="entry">登録</button>
			</form>
          </div>
        </div>
    </div>
	
    <script src="./modal.js"></script>

</body>
</html>