<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2022 - <a href="http://www.localhost.com">localhost.com</a></p>
      </div>
    </div>
  </div>
</footer>