<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/U_header.css">
  <link rel="stylesheet" href="/U_footer.css">
  <link rel="stylesheet" href="/U_login.css">
  <title>HALオークション | ログイン</title>
</head>
<body>
  <%- include('U_header.ejs'); %>
  <main>
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">ログイン</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">アカウント登録</label>
        <div class="login-form">
          <div class="sign-in-htm">
            <form action="/login" method="post">
              <div class="group">
                <label for="user" class="label">メールアドレス</label>
                <input id="user" name="email" type="text" class="input" value="hogehoge@icloud.com" required>
              </div>
              <div class="group">
                <label for="pass" class="label">パスワード</label>
                <input id="pass" name="password" type="password" class="input" data-type="password" required>
              </div>
              <div class="group">
                <input id="check" type="checkbox" class="check" checked>
                <label for="check"><span class="icon"></span>ログイン状態を維持する</label>
              </div>
              <div class="group">
                <input type="submit" class="button" value="ログイン">
              </div>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">パスワードを忘れましたか?</a>
            </div>
            <% if(error != '') { %> 
              <div class="loginerror">
                <p><%= error %></p>
              </div>
            <% } %> 
          </div>
          <div class="sign-up-htm">
            <form action="/signup" method="post">
              <div class="group">
                <label for="user" class="label">ユーザ名</label>
                <input id="user" name="user" type="text" class="input" required>
              </div>
              <div class="group">
                <label for="pass" class="label">メールアドレス</label>
                <input id="user" name="email" type="text" class="input" value="" required>
              </div>
              <div class="group">
                <label for="pass" class="label">パスワード</label>
                <input id="pass" name="password" type="password" class="input" data-type="password" required>
              </div>
              <div class="group">
                <input type="submit" class="button" value="登録する">
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                <label for="tab-1">既に登録済みですか?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="/U_header.js"></script>
<script src="/U_login.js"></script>
</html>